a:link{
	font-weight: bold;
	font-size:30px;
	color:green;
	background-color: blue;
}
a:visited{
	font-size:45px;
	color:yellow;
	background-color: red;
}
a:hover{
	font-size:75px;
	color:red;
}
a:actived{
	font-size:10px;
	color:brown;
}
