h1 {
			color:blue;
			background-color: yellow;
			font-size: 25px;
			font-family: verdana;
			border:5px solid blue;
			padding-left:200px;
			text-align: right;
			margin-left: -5px;
			margin-top: -5px
	}
p {
	color:green;
	background-color: yellow;
	border:10px solid green;
	border-style: groove;
	padding: 30px;
	margin-left: -5px
}

#alarma {
	color:rgb(255,255,255);
	background-color: red;
	font-size: 50px
}

.alarmasEnGeneral
{
	font-size: 75px
}
p.alarmasEnGeneral{
	color:blue;
	background-color: yellow;
}
h3.alarmasEnGeneral{
	color:red;
	background-color: green
}