
#

.alarma {
	color:yellow;
	background-color: green;
}
p.alarma{		
		background-color: blue;
		font-size: 50px;
}
h3.alarma {
	background-color: red;
	border: 5px solid yellow;
	font-size: 400%;
	font-family: courier;
	text-align: center
}
